/* cards.css */

* {
  box-sizing: border-box;
}

body {
  margin: 2em auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #cccccc;
}

/* CARD ONE SPECIFICATION */

.card {
  background-color: #f2f2f2;
  border: 1px solid rgb(150, 150, 150);
  max-width: 600px;
  margin: 0 auto 25px auto;
  /* For Testing Purposes Only */
}

.card h2 {
  background-color: #2c3e50;
  color: #ecf0f1;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-style: italic;
}

.card img {
  width: 100%;
}

.card p {
  padding: 25px;
  margin: 0;
}

.card a {
  display: block;
  padding: 10px;
  background-color: #16a085;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

.card a:hover {
  background-color: #0e6756;
}

/* CARD TWO SPECIFICATION */

.card2 {
  background-color: #f2f2f2;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto 25px auto;
  overflow: hidden;
}

.card2 .main-image {
  height: 250px;
  background-image: url(../images/cards-flowers.jpg);
  background-size: cover;
  background-position: center center;
}

.card2 .main-content {
  padding: 25px 25px 100px 25px;
  position: relative;
}

.card2 .main-content h2, .card2 .main-content p {
  margin: 0;
}

.card2 .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: black;
}

.card2 .btn {
  background-color: #aaaaaa;
  color: black;
  padding: 25px;
  text-decoration: none;
  display: block;
  width: 50%;
  position: absolute;
}

.card2 .btn-buy {
  bottom: 0;
  left: 0;
  background-color: #888888;
}

.card2 .btn-wish {
  bottom: 0;
  right: 0;
}

@media (max-width: 800px) {
  .card2 .main-image {
    height: 150px;
  }
}