/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}

header {
    background-color: blue;
    padding: 2em; /* 32px padding, because 2em * 16px = 32px */
}

h1 {
    color: white;
    text-align: center;
}

main {
    background-color: lightcyan;
    padding: 2em; /* padding here will be 24px, because font-size is specified as 12px.  2em * 12px = 24px */
    font-size: 12px;
}

/* Paragraph one */
p {
    font-size: 2em; /* since parent (main) has font size of 12px, 2em here will be equivalent to 24px  */
}

/* Paragraph two */
.two {
    font-size: 24px; /* To demonstrate that paragraph one indeed is 24px, I have created a duplicate paragraph set to 24px. As you can see, the font is the same size as paragraph one. */
}